<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <div class="container">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item {{subtitle === '' ? 'active' : ''}}">
            <ng-container *ngIf="subtitle === ''; else linkTemplate">
              <span>{{ title | titlecase }}</span>
            </ng-container>
            <ng-template #linkTemplate>
              <a [routerLink]="">{{ title | titlecase }}</a>
            </ng-template>
          </li>
          @if (subtitle !== '') {
            <li class="breadcrumb-item active" aria-current="page">{{subtitle | titlecase}}</li>
          }
      </ol>
  </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
